@import "./src/app/styles/font";
@import "./src/app/styles/colors";



* {
  font-family: Vazir, Tahoma, Arial, sans-serif !important;
  
}


.title {
  font-size: $fs-large;
  color: $dark-grey;
  direction: rtl;
}

.text {
  font-size: $fs-normal;
  color: $grey;
  direction: rtl;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
}

.button + .button {
  margin-left: 8px;
}
