@import 'src/app/styles/colors';
@import 'src/app/styles/variables';

.notification-button {
  margin-left: 16px;

  &__icon {
    color: $white-35;
  }

  @media (max-width: $small) {
    margin-top: 0;
  }
}

::ng-deep {
  .mat-menu-panel {
    min-width: 112px;
    max-width: 380px !important;   
    width: auto;                 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 4px;
    outline: 0;
    min-height: 64px;
  }
}

.notification-menu {
  &__button {
    &:hover {
      background-color: $blue-white;
    }
  }

  &__icon {
    &_yellow {
      color: $yellow;
    }

    &_green {
      color: $green;
    }

    &_pink {
      color: $pink;
    }

    &_blue {
      color: $blue;
    }
  }
}