<button
  class="notification-button"
  color="primary"
  mat-mini-fab
  [matMenuTriggerFor]="bell"
>
  <mat-icon
    [matBadge]="(unreadCount$ | async)?.toString()"
    [matBadgeHidden]="!(unreadCount$ | async)"
    matBadgeColor="warn"
    class="notification-button__icon"
    >notifications_none</mat-icon
  >
</button>
<mat-menu #bell="matMenu" xPosition="before" class="notification-menu">
  <button
    *ngFor="let n of notifications$ | async"
    mat-menu-item
    class="notification-menu__button"
    (click)="onOpen(n)"
  >
    <mat-icon [class]="colorClassFor(n.type)">{{ iconFor(n.type) }}</mat-icon>
    {{ n.text }}
  </button>
</mat-menu>