<app-breadcrumb [path]="routes.MANAGEMENT_BLOG"></app-breadcrumb>

<mat-card class="card">
  <mat-card-title class="card-title-wrapper">
    <p class="card-title">وبلاگ <span class="card-subtitle">{{ (blogs$ | async)?.length || 0 }} مقاله</span></p>

    <mat-form-field appearance="outline" class="search-field mat-form-field-should-float">
      <mat-label>جست‌وجو</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input class="search-title">
      <mat-icon matPrefix class="search-icon">search</mat-icon>
    </mat-form-field>
  </mat-card-title>

  <mat-card-content class="card-content">
    <button mat-flat-button color="success" [routerLink]="routes.BLOG_CREATE">ایجاد مقاله جدید</button>

    <div class="table-title-wrapper">
      <p class="table-title">Blogs</p>
      <mat-icon class="table-title-icon" matTooltip="Filter list" matTooltipPosition="above">filter_list</mat-icon>
    </div>

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort class="table">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
              color="warn">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
              color="warn">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element" class="table-body"> {{element.id}} </td>
        </ng-container>

        <!-- Image -->
        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef class="table-header"> تصویر </th>
          <td mat-cell *matCellDef="let element" class="table-body">
            <img class="image" *ngIf="getFirstImage(element.thumbnail)" [src]="getFirstImage(element.thumbnail)">
          </td>
        </ng-container>

        <!-- Title -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header> عنوان </th>
          <td mat-cell *matCellDef="let element" class="table-body product-title">
            {{element.title}}
          </td>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header> توضیح </th>
          <td mat-cell *matCellDef="let element" class="table-body"> {{element.description}} </td>
        </ng-container>

        <!-- Content -->
        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header> محتوا </th>
          <td mat-cell *matCellDef="let element" class="table-body"> {{element.content}} </td>
        </ng-container>

        <!-- Slug -->
        <ng-container matColumnDef="slug">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header> اسلاگ </th>
          <td mat-cell *matCellDef="let element" class="table-body"> {{element.slug}} </td>
        </ng-container>

        <!-- Category -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header> دسته‌بندی </th>
          <td mat-cell *matCellDef="let element" class="table-body"> {{element.category}} </td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header> وضعیت </th>
          <td mat-cell *matCellDef="let element" class="table-body"> {{element.status}} </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="table-header"> عملیات </th>
          <td mat-cell *matCellDef="let element" class="table-body">
            <div class="table-buttons-wrapper">
              <button mat-flat-button color="success" class="table-button" [routerLink]="[routes.BLOG_EDIT, element.id]">ویرایش</button>
              <button mat-flat-button color="warn" class="table-button" (click)="openDeleteModal(element.id)">حذف</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 
  </mat-card-content>
</mat-card>
