
<mat-card class="breadcrumb-card">
  <mat-card-content>
    <mat-list class="breadcrumb-list">
      <mat-list-item
        *ngFor="let label of labels; let i = index"
        class="breadcrumb-list-item"
        [class.active]="i === labels.length - 1"
        (click)="navigate(i)"
      >
        <span class="text">{{ label }}</span>
        <mat-icon class="icon" *ngIf="i < labels.length - 1">
          keyboard_arrow_right
        </mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
