<div class="user-avatar" [matMenuTriggerFor]="userMenu">
  <img *ngIf="hasAvatar()" [src]="avatar()" class="user-avatar__img" />
  <div *ngIf="!hasAvatar()" class="user-avatar__fallback">
    {{ getInitials() }}
  </div>
</div>

<mat-menu #userMenu="matMenu" xPosition="before">
  <button mat-menu-item [routerLink]="routes.PROFILE">
    <mat-icon>account_circle</mat-icon>
    پروفایل
  </button>
  <button mat-menu-item (click)="signOutEmit()">
    <mat-icon>exit_to_app</mat-icon>
    خروج
  </button>
</mat-menu>