<form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="blog-form">
  <div>
    <label>عنوان</label>
    <input type="text" formControlName="title" placeholder="عنوان مقاله" />
  </div>

  <div>
    <label>اسلاگ (اختیاری)</label>
    <input type="text" formControlName="slug" placeholder="اسلاگ" />
  </div>

  <div>
    <label>دسته‌بندی</label>
    <select formControlName="category">
      <option value="">انتخاب دسته‌بندی</option>
      <option value="tech">تکنولوژی</option>
      <option value="news">اخبار</option>
    </select>
  </div>

  <div>
    <label>توضیحات کوتاه</label>
    <textarea formControlName="description" placeholder="توضیحات کوتاه"></textarea>
  </div>

<!-- <div>
  <label>محتوای مقاله</label>
  <ckeditong serve[editor]="Editor" formControlName="content"></ckeditor>

</div> -->


  <div>
    <label>تصاویر (حداکثر ۵ تصویر)</label>
    <input type="file" (change)="onImageChange($event)" multiple />
    <div class="preview">
      <div *ngFor="let img of imagePreviews; let i = index">
        <img [src]="img" alt="پیش‌نمایش" width="100" />
        <button type="button" (click)="removeImage(i)">حذف</button>
      </div>
    </div>
  </div>

  <div>
    <label>وضعیت</label>
    <select formControlName="status">
      <option value="draft">پیش‌نویس</option>
      <option value="published">منتشر شده</option>
    </select>
  </div>

  <button type="submit" [disabled]="blogForm.invalid">
    {{ blog ? 'ویرایش مقاله' : 'ایجاد مقاله' }}
  </button>
</form>